<?xml version="1.0"?>
<!--
/**
 * Numerno - Visilabs Magento Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the NUMERNO VISILABS MAGENTO EXTENSION License, which extends the Open Software
 * License (OSL 3.0). The Visilabs Magento Extension License is available at this URL:
 * http://numerno.com/licenses/visilabs-ce.txt The Open Software License is available at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * DISCLAIMER
 *
 * By adding to, editing, or in any way modifying this code, Numerno is not held liable for any inconsistencies or
 * abnormalities in the behaviour of this code. By adding to, editing, or in any way modifying this code, the Licensee
 * terminates any agreement of support offered by Numerno, outlined in the provided Visilabs Magento Extension License.
 * Upon discovery of modified code in the process of support, the Licensee is still held accountable for any and all
 * billable time Numerno spent during the support process. Numerno does not guarantee compatibility with any other
 * Magento extension. Numerno is not responsbile for any inconsistencies or abnormalities in the behaviour of this
 * code if caused by other Magento extension.
 * If you did not receive a copy of the license, please send an email to info@numerno.com or call +90-212-223-5093,
 * so we can send you a copy immediately.
 *
 * @category   [Numerno]
 * @package    [Numerno_Visilabs]
 * @copyright  Copyright (c) 2015 Numerno Bilisim Hiz. Tic. Ltd. Sti. (http://numerno.com/)
 * @license    http://numerno.com/licenses/visilabs-ce.txt  Numerno Visilabs Magento Extension License
 */
-->
<config>
    <tabs>
        <visilabs translate="label" module="visilabs">
            <label><![CDATA[<div style="position: absolute;"><img id="visilabs-logo" src="" alt="" border="0" /></div>&nbsp;<script>
            var skin_dir_pos = SKIN_URL.indexOf("adminhtml");
            var skin_dir = SKIN_URL.substring(0, skin_dir_pos);
            $('visilabs-logo').src = skin_dir + "adminhtml/default/default/images/visilabs/visilabs_logo.png";
            </script>]]></label>
            <sort_order>400</sort_order>
        </visilabs>
    </tabs>
    <sections>
        <visilabs translate="label" module="visilabs">
            <label>Visilabs Tagging</label>
            <tab>visilabs</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general module="visilabs" translate="label comment">
                    <label>General Settings</label>
                    <expanded>true</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<div style='height: 20px;margin-bottom:10px;'> <img style='float:left;' src='http://numerno.com/media/modules/visilabs-logo.png' /></div><br /><br /> Configure your Visilabs platform connection below. If you have any questions or would like any help please visit <a href='http://numerno.com' target='_blank'>numerno.com</a>.]]></comment>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <sid translate="label">
                            <label>Site ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sid>
                        <oid translate="label">
                            <label>Organization ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </oid>
                        <use_channel translate="label comment">
                            <label>Enable Channel Tag</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>You need to specify store channel on store view scope, otherwise store code will be used as channel name.</comment>
                        </use_channel>
                        <channel translate="label">
                            <label>Store Channel</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_store>1</show_in_store>
                            <depends><use_channel>1</use_channel></depends>
                        </channel>
                        <use_suggest translate="label comment">
                            <label>Enable Action Suggestion</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Calling SuggestActions() is needed for pop-up scenarios.</comment>
                        </use_suggest>
                        <cid translate="label">
                            <label>Customer Identifier Attribute</label>
                            <frontend_type>select</frontend_type>
                            <source_model>visilabs/system_config_source_cid</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Will be used for exVisitorID parameter</comment>
                        </cid>
                        <cep>
                            <label>Custom Event Parameters for Customer Signup and Login</label>
                            <frontend_model>visilabs/adminhtml_system_config_form_field_customer</frontend_model>
                            <backend_model>visilabs/system_config_backend_attributes</backend_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </cep>
                    </fields>
                </general>
                <catalog module="visilabs" translate="label">
                    <label>Catalog Tagging Settings</label>
                    <expanded>true</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Catalog Tagging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <brand translate="label">
                            <label>Brand Attribute</label>
                            <frontend_type>select</frontend_type>
                            <source_model>visilabs/system_config_source_attribute</source_model>
                            <backend_model>visilabs/system_config_backend_cache</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </brand>
                        <cep>
                            <label>Custom Product Parameters</label>
                            <frontend_model>visilabs/adminhtml_system_config_form_field_product</frontend_model>
                            <backend_model>visilabs/system_config_backend_attributes</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </cep>
                    </fields>
                </catalog>
                <search module="visilabs" translate="label">
                    <label>On Site Search Tagging Settings</label>
                    <expanded>true</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable On Site Search Tagging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                    </fields>
                </search>
                <cart module="visilabs" translate="label">
                    <label>Shopping Cart Tagging Settings</label>
                    <expanded>true</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Shopping Cart Tagging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <cep>
                            <label>Custom Cart Parameters</label>
                            <frontend_model>visilabs/adminhtml_system_config_form_field_cart</frontend_model>
                            <backend_model>visilabs/system_config_backend_attributes</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </cep>
                    </fields>
                </cart>
                <order module="visilabs" translate="label">
                    <label>Purchase Tagging Settings</label>
                    <expanded>true</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>70</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Purchase Tagging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <cep>
                            <label>Custom Order Parameters</label>
                            <frontend_model>visilabs/adminhtml_system_config_form_field_order</frontend_model>
                            <backend_model>visilabs/system_config_backend_attributes</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </cep>
                    </fields>
                </order>
            </groups>
        </visilabs>
    </sections>
</config>